.container{
  background-color: gray;
  width: 1000px;
  height: 1000px;
  margin: 10px;;
}
.slider{
  margin: 10px;
}
.sliderHeader{
  align-items: center;
  margin: 10px 30px;
  height: 20px;
  display: inline-flex;
}
.sliderTitle{
  font: bold 24px black;
  margin: 0 30px 0 10px;
}
.sliderTab{
  border: 1px black solid;
  border-radius: 10px;
  width: max-content;
  display: inline-flex;
  height: 30px;
  align-self: center;
  padding: 0 10px;
}
.sliderTab a{
  color: white;
  text-decoration: none;
  margin: auto 10px;
}
.sliderBody{
  width: 100%;
  margin: 10px 0;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.sliderItem{
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
  width: 190px;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  background-color: #dbdbdb;
  overflow: hidden;
  margin-left: 40px;
  max-width: 150px;
}